<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <title>Product Returns</title>
</head>

<body>

    <div class="view-container">

        <div class="page-title">
            <h3>Product Returns</h3>
        </div>


        <div class="row page-desc">
            <div class="col-md-8">
                <p><b>Mobile Defenders is a customer-first organization.</b> We strive to be your supplier of choice and partner in business. Our hassle-free and easy to understand returns process is designed to do just that!</p>
            </div>

            <div class="col-md-4">
                <a href="#" class="btn md-btn">Create a Product Return</a>
            </div>
        </div>


        <div class="row">
            <div class="page-picker-container">
                <h3>Page Picker</h3>
            </div>
        </div>


        <accordion>
            <accordion-group isDisabled="true" panelClass="static-header">
                <div class="row" accordion-heading>
                    <div class="col-md-4">
                        Return ID
                    </div>
                    <div class="col-md-5">
                      Date Created
                    </div>
                    <div class="col-md-3">
                      Return Status
                    </div>
                </div>
            </accordion-group>
            <accordion-group *ngFor="let return of returns" panelClass="dynamic-header">
                <div class="row accordion-header" accordion-heading>
                    <div class="col-md-4">
                        {{ return.id }}
                    </div>
                    <div class="col-md-5">
                      {{ return.returnDate }}
                    </div>
                    <div class="col-md-3">
                      {{ return.returnStatus }}
                    </div>
                </div>

                <div class="return-content" >
                    <div class="card return-item" *ngFor="let returnItem of return.items">
                        <h4 class="return-item-header">{{ returnItem.itemName }}</h4>

                        <div class="return-item-detail">

                            <div class="row">
                                <div class="col-md-6">
                                    <strong>SKU: </strong>
                                    {{ returnItem.sku }}
                                </div>
                                <div class="col-md-6">
                                    <strong>Order No: </strong>
                                    <a href="#">{{ returnItem.orderNo }}</a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <strong>Reason: </strong>
                                    {{ returnItem.returnReason }}


                                    <!-- *ngIf="shouldDisplayCreditMemo()" -->
                                    <div class="approval-detail" *ngIf="shouldDisplayCreditMemo(returnItem)">
                                        <strong>Credit Memo: </strong>
                                        <a href="#">{{ returnItem.creditMemo }}</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <strong>Comments: </strong>
                                    {{ returnItem.comments }}
                                </div>

                            </div>

                            <!-- *ngIf="shouldDisplayDenialReason()" -->
                            <div class="denial-detail" *ngIf="shouldDisplayDenialReason(returnItem)">
                                <hr />
                                <div class="row">
                                    <div class="col-md-12">
                                        <strong>Reason for Denial: </strong>
                                        {{ returnItem.denialReason }}
                                    </div>
                                </div>
                            </div>



                        </div>

                    </div>

                </div>

          </accordion-group>
        </accordion>


    </div>
</body>
